<div class="section ">
    <div class="container">
        <div class="row" style="margin-bottom: 0;">
            <div class="col s12 m8 offset-m1 xl7 offset-xl1 center-on-small-only">
            <h1 class="header">Munder Difflin Paper Company</h1>
            <p class="caption ">According to co-founder Robert Dunder, the company was founded in 1949, and it was originally a supplier of metal brackets for construction.</p>
            <p class="caption ">According to the Dunder Mifflin official website: "Dunder Mifflin Inc. (stock symbol DMI) is a mid-cap regional paper- and office-supply distributor with an emphasis on servicing small-business clients. With a corporate office in New York City, Dunder Mifflin has branches in Albany, Utica, Scranton, Akron, Nashua, Buffalo, and Rochester." </p>
            </div>
        </div>
    </div>          
</div>