
	
		<section class="hero">
		<div class="carousel carousel-slider">
    <a id="one" class="carousel-item" href="#one!"></a>
    <a id="two" class="carousel-item" href="#two!"></a>
    <a id="three" class="carousel-item" href="#three!"></a>
    <a id="four" class="carousel-item" href="#four!"></a>
  
			<div class="hero-info">
				<div class="container">
				<h1>LOREM IPSUM</h1>
				<h3>Mandamus deseruisse</h3>
				</div>
			</div>	
		</section>

		<div class="cta-container">
			<div class="container">
				<h1 class="title">Postea Nostro Sensibus</h3>
				<h3>TEAM DESIGNED AND CUSTOM BUILT, IN COLLABORATION WITH U.S. SPECIAL OPERATIONS.</h3>
				<div class="button-group">
		            <a href="#" class="button">Shop Now</a>
		            <a href="#" class="button">Custom Build</a>
       			 </div>
			</div>
		</div>

		<section class="features">
			<div class="container">	
				<div class="row">
					<div class="col s12 m4">
						<span class="image">
							<img src="images/wedding_shop_thumb.jpg">
						</span>
						<div class="image-info">
							<h3>Wedding Shop</h3>
							<h5>View cards, envelopes, and more</h5>
							</div>
							<a href="#" class="button-small">Shop Now</a>
						
					</div>
					<div class="col s12 m4">
						<span class="image">
							<img src="images/personalized_thumb.jpg">
						</span>
						<div class="image-info">
							<h3>Personalized Stationery</h3>
							<h5>Sending a hand-written note card is a great way to reconnect</h5>
							</div>
							<a href="#" class="button-small">Shop Now</a>
						
					</div>
					<div class="col s12 m4">
						<span class="image">
							<img src="images/rewards_thumb.jpg">
						</span>
						<div class="image-info">
							<h3>Rewards Programs</h3>
							<h5>Join and save up to 22%</h5>
							</div>
							<a href="#" class="button-small">Shop Now</a>
						
					</div>
				</div>
		</section>

		<section class="media">
			<div class="container">	
				<div class="row">
					<div class="col s12 m4 l4">
						<span class="image">
							<img src="images/instagram_thumb.jpg">
						</span>
						<div class="image-info">
							<h3>Follow Us!</h3>
							<h5>Check out our gallery on Instagram</h5>
							<a href="#"><img class="icon" src="images/instagram_icon.png"></a>
						</div>
					</div>
					<div class="video col s12 m8 l8">
						<img src="images/bts_video_thumb.jpg">
						<div class="image-info">
							<h3>Behind The Scenes</h3>
						</div>
				</div>
			</div>
		</section>

		<section class="newsletter">
			<div class="container">	
					<form name="myForm" onsubmit="return validateForm()" method="post">
						<div class="row mailing-list-wrapper">
						    <div class="col s12 m4 l4">
							<h3 class=" title">Join Now And Get 10% Off</h3>
							</div>
							<div class="col s12 m8 l8">	
							<input type="email" name="email" placeholder="Email">
							<input type="submit" value="Join">
							</div>
						</div>
					<form>				
			</div>
		</section>
		</div> <!--  	container	 -->


	