<div class="section ">
    <div class="container">
        <div class="row detail-hero">
            <div class="col offset-m1 m6 s12">
                <img src="<%= @pam.image %>">
            </div>
            <div class="col m5 s12">
                <h1><%= @pam.name %></h1>
                <p><%= @pam.bio %></p>
            </div>
        </div>
    </div>          
</div>