<section>
<div class="container">
		<h1 class="page-title">Staff</h1>
		<article class="row">
			<div class="gallery col s12 m4">
				<div class="card">
					<div class="card-image">
					<a href="/staff/jim"><img src="https://vignette.wikia.nocookie.net/theoffice/images/9/9a/Jim.jpg/revision/latest/scale-to-width-down/350?cb=20170701084550"></a>
					<span class="card-title">Jim Halpert</span>
					</div>
				</div>
			</div>
			<div class="gallery col s12 m4">
				<div class="card">
					<div class="card-image">
					<a href="/staff/michael"><img src="https://vignette.wikia.nocookie.net/theoffice/images/0/02/Michael_Scott.jpg/revision/latest/scale-to-width-down/350?cb=20170701090332"></a>
					<span class="card-title">Michael Scott</span>
					</div>
				</div>
			</div>
			<div class="gallery col s12 m4">
				<div class="card">
					<div class="card-image">
					<a href="/staff/pam"><img src="https://vignette.wikia.nocookie.net/theoffice/images/6/67/Pam_Beesley.jpg/revision/latest/scale-to-width-down/350?cb=20170701084358"></a>
					<span class="card-title">Pamela Morgan</span>
					</div>
				</div>
			</div>
		</article> 
    </div>  <!-- ./container -->
    </section>