$cart: url(../images/cart.png) no-repeat;
$one: url(../images/wedding_hero_2.jpg); 
$two: url(../images/stationery_letterhead.jpg);
$three: url(../images/painting.jpg);
$four: url(../images/stationery_wrapping.jpg);

